@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: Roboto;
}

body {
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo {
    width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #000000;
}

.logo-wrapper h1 {
    color: white;
}

footer {
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a,
footer span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
}

form input {
    background: #000000;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFFFFF;
}

form input:focus {
    border: 1px solid rgba(50,205,50);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.4s;
     animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
html,
body {
  height: 100%;
}
section {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}
section h1 {
  margin: auto;
  color: white;
  font-size: 15em;
  text-align: center;
}
section:first-of-type {
  background-image: url('https://images.unsplash.com/photo-1465411801898-f1a78de00afc?dpr=2&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=');
}
section:nth-of-type(2) {
  background-image: url('https://images.unsplash.com/photo-1469521669194-babb45599def?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
}
section:last-of-type {
  background-image: url('https://images.unsplash.com/photo-1494587416117-f102a2ac0a8d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
}
